.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #037584;
    color: aliceblue;
    text-align: center;
}

.icon {
    display: flex;
    align-items: center;
}

.imgLogo {
    width: 110px;
    padding-right: 20px;
}

.list-nav {
    font-style: none;
    padding: 0px;
    }

.volksWolrd{
    text-decoration: none;
    margin: 0px;   
    color: aliceblue;
}

.lista {
    display: inline;
    padding: 0.5rem;
    text-decoration: none;
    color: aliceblue;
}